* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none;
}
 a:hover {
     cursor: pointer;
}
 html {
     position: relative;
     min-height: 100%;
     margin: 0 auto;
}
 body {
     margin-bottom: 355px;
     font-family: "Open Sans", "sans serif";
}
 #header_container {
     position: relative;
     background: url("../images/stars.svg");
     background-size: cover;
     background-position: bottom center;
}
 h1 {
     display: block;
     font-family: "Montserrat", "sans serif";
     text-align: center;
     background: url("../images/logo.png");
     background-size: cover;
     width: 209px;
     height: 52px;
     margin: auto;
     margin: 15px 0;
}
 h1 a {
     font-family: "Montserrat", "sans serif";
     display: block;
     text-indent: -9999px;
     width: 100%;
     height: 100%;
}
 h2 {
     color: #ffffff;
     font-family: "Montserrat", "sans serif";
     font-weight: 700;
     font-size: 42px;
     line-height: 50px;
     letter-spacing: 1px;
}
 h3 {
     font-family: "Montserrat", "sans serif";
     font-size: 24px;
     font-weight: 800;
     text-transform: uppercase;
     letter-spacing: 2px;
}
 header {
     font-family: "Montserrat", "sans serif";
     position: fixed;
     top: 0;
     left: 0;
     height: auto;
     margin-top: 10px;
     padding: 0 50px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     background-color: transparent;
     transition: background-color .2s ease-in-out;
}
 .active {
     margin-top: 0;
     background-color: #4a318a;
}
 .inner_header {
     margin-top: 0;
     background-color: #4a318a;
}
 #logo_container {
     float: left;
}
 nav {
     font-family: "Montserrat", "sans serif";
     text-align: right;
}
 nav ul li {
     display: inline-block;
     list-style: none;
}
 nav ul li a {
     position: relative;
     font-size: 14px;
     padding: 15px;
     font-weight: 600;
     color: #ffffff;
     text-transform: uppercase;
     letter-spacing: 1px;
     transition: color .2s ease-in-out;
}
 nav ul li a:hover {
     color: #fce938;
}
 nav ul li a:before, nav ul li a:after, nav ul li a.current:before, nav ul li a.current:after {
     content: "";
     position: absolute;
     bottom: 0;
     width: 0;
     height: 4px;
     margin: 5px 0 0;
     transition: all 0.2s ease-in-out;
     transition-duration: 0.5s;
     opacity: 0;
     background-color: #37a2db;
}
 nav ul li a:before, nav ul li a.current:before {
     left: calc(50%);
     background-color: #37a2db;
}
 nav ul li a:after, nav ul li a.current:after {
     right: calc(50%);
     background-color: #37a2db;
}
 nav ul li:hover a:before, nav ul li:hover a:after, nav ul li a.current:before, nav ul li a.current:after {
     width: calc(50% - 15px);
     opacity: 1;
}
 nav ul li:hover a:before, nav ul li a.current:before {
     border-radius: 0 2px 2px 0;
}
 nav ul li:hover a:after, nav ul li a.current:after {
     border-radius: 2px 0 0 2px;
}
 .desktop_menu {
     display: block;
}
 .mobile_menu {
     display: none;
}
 #menuToggle {
     display: block;
     position: relative;
     top: 0;
     right: 0;
     z-index: 1;
     -webkit-user-select: none;
     user-select: none;
}
 #menuToggle input {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     right: -5px;
     cursor: pointer;
     opacity: 0;
     z-index: 2;
     -webkit-touch-callout: none;
}
 #menuToggle span {
     display: block;
     width: 27px;
     height: 3px;
     margin-bottom: 4px;
     position: relative;
     background: #ffffff;
     border-radius: 3px;
     z-index: 1;
     transform-origin: 4px 0;
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
 #menuToggle span:first-child {
     transform-origin: 0% 0%;
}
 #menuToggle span:nth-last-child(2) {
     transform-origin: 0% 100%;
}
 #menuToggle input:checked ~ span {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #ffffff;
}
 #menuToggle input:checked ~ span:nth-last-child(3) {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
}
 #menuToggle input:checked ~ span:nth-last-child(2) {
     transform: rotate(-45deg) translate(0, -1px);
}
 #menu {
     position: absolute;
     text-align: right;
     width: 200px;
     margin: -65px 0 0 -110px;
     padding: 0 30px 20px 0;
     padding-top: 70px;
     background: #4a318a;
     border-radius: 0 0 0 20px;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     transform-origin: 0% 0%;
     transform: translate(100%, 0);
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
 #menu li {
     padding: 15px 0;
}
 #menuToggle input:checked ~ ul {
     transform: none;
}
 #banner_container {
     position: relative;
     display: flex;
     padding: 82px 0 0 0;
     margin: 0 auto;
     justify-content: space-between;
     align-items: center;
     max-width: 1280px;
     height: 100%;
}
 #banner_container_mobile {
     display: none;
}
 .banner_title {
     width: 470px;
     padding: 0 25px;
}
 .banner_title p {
     color: #ffffff;
     font-family: "Open Sans", "sans serif";
     font-weight: 400;
     font-size: 14px;
     line-height: 18px;
     padding: 15px 0;
}
 .banner_title a {
     display: inline-block;
     background-color: #fce938;
     color: #130f23;
     text-transform: uppercase;
     font-family: "Montserrat", "sans serif";
     font-weight: 600 !important;
     font-size: 16px;
     letter-spacing: 2px;
     border-radius: 25px;
     padding: 15px 25px;
     margin: 10px 0;
     transition: all .2s ease-in-out;
     -webkit-filter: drop-shadow(5px 5px 5px #130f23);
     filter: drop-shadow(5px 5px 5px #130f23);
}
 .banner_title a:hover {
     background-color: #e61e63;
     color: #ffffff;
}
 .banner_image {
     max-width: 100%;
     text-align: center;
     padding-right: 30px;
}
 .banner_bottom {
     display: none;
}
 .banner_image img {
     width: 100%;
     max-width: 870px;
}
 .rainbow:hover {
     -webkit-animation:rainbow 2s infinite;
     -ms-animation:rainbow 2s infinite;
     -o-animation:rainbow 2s infinite;
     animation:rainbow 2s infinite;
}
 @-webkit-keyframes rainbow {
     0% {
        color: #e61e63;
    }
     33% {
        color: #37a2db;
    }
     66% {
        color: #fce938
    }
     100% {
        color: #e61e63;
    }
}
 @-ms-keyframes rainbow {
     0% {
        color: #e61e63;
    }
     33% {
        color: #37a2db;
    }
     66% {
        color: #fce938
    }
     100% {
        color: #e61e63;
    }
}
 @-o-keyframes rainbow {
     0% {
        color: #e61e63;
    }
     33% {
        color: #37a2db;
    }
     66% {
        color: #fce938
    }
     100% {
        color: #e61e63;
    }
}
 @keyframes rainbow {
     0% {
        color: #e61e63;
    }
     33% {
        color: #37a2db;
    }
     66% {
        color: #fce938
    }
     100% {
        color: #e61e63;
    }
}
 #home_intro {
     display: none;
     background-color: #ffffff;
     padding: 0 20px 30px 20px;
}
 #home_intro hr {
     background-color: #37a2db;
     border: none;
     height: 4px;
     width: 40%;
     border-radius: 2px;
     margin: 25px 0;
}
 #services_wrapper {
     max-width: 1280px;
     margin: auto;
     margin-top: 40px;
     text-align: center;
}
 #home_services {
     display: flex;
     padding: 30px 20px;
     margin: auto;
     justify-content: space-around;
}
 .service_col {
     width: 20%;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-items: center;
}
 .service_col p {
     margin: 10px 0;
     font-size: 14px;
     line-height: 18px;
     vertical-align: top;
}
 .service_col a {
     font-family: "Montserrat", "sans serif";
     vertical-align: top;
     display: inline-block;
     color: #130f23;
     text-transform: uppercase;
     font-weight: 800;
     font-size: 18px;
     letter-spacing: 1px;
     margin: 10px 0;
     transition: color .2s ease-in-out;
}
 .service_col a:hover {
     color: #37a2db;
}
 .service_col img {
     width: 100px;
     height: 100px;
     -webkit-filter: drop-shadow(5px 5px 5px gray);
     filter: drop-shadow(5px 5px 5px gray);
}
 .flex_container {
     max-width: 1280px;
     margin: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}
 .flex_container_home {
     max-width: 1280px;
     margin: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}
 .flex_container_home > div {
     max-width: 50%;
}
 #home_portfolio {
     background-color: #c9c9c9;
     padding: 30px 20px;
}
 #home_portfolio hr {
     background-color: #37a2db;
     border: none;
     height: 4px;
     width: 40%;
     border-radius: 2px;
     margin: 25px 0;
}
 #home_portfolio img {
     width: 400px;
     border-radius: 10px;
}
 #home_custom {
     display: block;
     background-color: #ffffff;
     padding: 30px 20px;
}
 #home_custom hr {
     background-color: #37a2db;
     border: none;
     height: 4px;
     width: 40%;
     border-radius: 2px;
     margin: 25px 0;
}
 #home_custom img {
     width: 400px;
     border-radius: 10px;
}
 #home_custom_mobile {
     display: none;
}
 #portfolio {
     margin: auto;
     background-color: #ffffff;
     padding: 30px 20px 30px 20px;
     text-align: center;
     max-width: 1280px;
}
 #portfolio h2 {
     color: #4a318a;
}
 #portfolio hr {
     background-color: #37a2db;
     border: none;
     height: 4px;
     width: 30%;
     border-radius: 2px;
     margin: auto;
     margin-top: 25px;
     margin-bottom: 25px;
     text-align: center;
}
 #portfolio img {
     height: 200px;
     padding: 20px 15px;
}
 #portfolio_menu {
     margin-top: 82px;
     background-color: #100b23;
     padding: 10px 0 10px 0;
}
 #portfolio_menu a {
     font-size: 12px;
     padding: 30px;
     font-weight: 600;
     color: #ffffff;
     text-transform: uppercase;
     letter-spacing: 1px;
     transition: color .2s ease-in-out;
}
 #portfolio_menu a:hover {
     color: #fce938;
}
 #portfolio_menu ul {
     margin: auto;
     text-align: center;
}
 #portfolio_menu ul li {
     display: inline-block;
}
 .portfolio_current {
     color: #fce938;
}
 #shop {
     margin: auto;
     margin-top: 112px;
     background-color: #ffffff;
     padding: 30px 20px 30px 20px;
     text-align: center;
}
 #shop hr {
     background-color: #37a2db;
     border: none;
     height: 4px;
     width: 40%;
     border-radius: 2px;
     margin: auto;
     margin-top: 25px;
     margin-bottom: 25px;
     text-align: center;
}
 #commissions {
     margin: auto;
     margin-top: 82px;
     margin-bottom: 90px;
     max-width: 1280px;
     background-color: white;
     padding: 30px 20px 0 20px;
     text-align: center;
}
 #commissions hr {
     background-color: #37a2db;
     border: none;
     height: 4px;
     width: 40%;
     border-radius: 2px;
     margin: auto;
     margin-top: 25px;
     margin-bottom: 25px;
     text-align: center;
}
 .commission_status_open {
     font-family: "Montserrat", "sans serif";
     color: green;
     font-weight: bold;
     font-size: 1.2em;
     text-transform: uppercase;
}
 .commission_status_closed {
     font-family: "Montserrat", "sans serif";
     color: red;
     font-weight: bold;
     font-size: 1.2em;
     text-transform: uppercase;
}
 .commission_info {
     text-align: left;
     line-height: 4em;
     max-width: 1280px;
}
 .commission_info_terms {
     text-align: center;
     max-width: 1280px;
}
 .commission_info_terms a {
     color: #4a318a;
     font-weight: bold;
}
 .commission_info h3 {
     font-family: "Montserrat", "sans serif";
     text-transform: uppercase;
     font-weight: bold;
}
 .commission_info a {
     color: #4a318a;
     font-weight: bold;
}
 .commission_info ul li {
     list-style-position: inside;
     padding-left: 30px;
}
 .commission_info img {
     padding: 20px;
     width: 400px;
}
 .commission_display_box {
     text-align: center;
}
 #terms {
     margin: auto;
     margin-top: 82px;
     background-color: white;
     padding: 30px 20px 30px 20px;
     text-align: center;
}
 #terms hr {
     background-color: #37a2db;
     border: none;
     height: 4px;
     width: 40%;
     border-radius: 2px;
     margin: auto;
     margin-top: 25px;
     margin-bottom: 25px;
     text-align: center;
}
 #terms p {
     text-align: left;
}
 #terms span {
     font-weight: 800;
     letter-spacing: 1px;
     font-size: 1.1em;
     text-transform: uppercase;
}
 #terms ol {
     list-style-position: inside;
     text-align: left;
     line-height: 2em;
     counter-reset: item;
}
 #terms ol li {
     display: block;
     padding: 15px 0;
}
 #terms ol li:before {
     content: "\2022";
     padding-right: 10px;
     counter-increment: item;
     font-weight: 800;
}
 #terms ol li ul li {
     padding: 0;
}
 #terms ol li ul {
     list-style-position: inside;
     padding-left: 20px;
     counter-reset: item;
}
 #terms ol li ul li {
     display: block;
     padding: 0;
}
 #terms ol li ul li:before {
     content: "\25E6";
     padding-right: 10px;
     counter-increment: item;
     font-weight: 800;
}
 #contact {
     margin: auto;
     margin-top: 82px;
     background-color: white;
     padding: 30px 20px 30px 20px;
     text-align: center;
}
 #contact hr {
     background-color: #37a2db;
     border: none;
     height: 4px;
     width: 40%;
     border-radius: 2px;
     margin: auto;
     margin-top: 25px;
     margin-bottom: 25px;
     text-align: center;
}
 #contact p {
     text-align: center;
}
 #contact a {
     color: #4a318a;
     font-weight: bold;
}
 #payments {
     text-align: center;
}
 #payments img {
     margin: 40px;
     width: 150px;
}
 footer {
     height: 355px;
     background-color: #100b23;
     position: absolute;
     padding-bottom: 20px;
     left: 0;
     bottom: 0;
     color: #c9c9c9;
     width: 100%;
}
 #footer_container {
     background-color: #100b23;
     max-width: 1280px;
     padding: 0 20px;
     margin: auto;
}
 .footer_logo_container {
     margin-top: 25px;
}
 footer img {
     width: 130px;
}
 footer hr {
     background-color: #37a2db;
     border: none;
     height: 2px;
     border-radius: 1px;
     margin: 25px 0;
}
 #footer_menu {
     max-width: 1280px;
     display: grid;
     grid-template-columns: calc(30% - 60px) 15% 30% 25%;
     grid-column-gap: 20px;
     background-color: #100b23;
}
 .footer_title {
     display: block;
     color: white;
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 1px;
     padding-bottom: 15px;
}
 .footer_col {
}
 .footer_col p {
     font-size: 14px;
     line-height: 22px;
}
 .footer_col ul li {
     font-family: "Montserrat", "sans serif";
     list-style: none;
}
 .footer_col ul li a {
     color: #c9c9c9;
     font-size: 12px;
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 1px;
     transition: color .2s ease-in-out;
}
 .footer_col ul li a:hover {
     color: #fce938;
}
 .footer_social ol {
     display: inline-flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
}
 .footer_social ol li {
     display: inline-block;
     list-style: none;
}
 .footer_social img {
     width: 25px;
     margin: 0 30px 30px 0;
}
 .twitch_cta a {
     display: inline-block;
     background-color: #fce938;
     color: #100b23;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 14px;
     letter-spacing: 1px;
     border-radius: 20px;
     padding: 10px 20px;
     transition: all .2s ease-in-out;
}
 .twitch_cta a:hover {
     background-color: #e61e63;
     color: white;
}
 .twitch_footer_p {
     margin-top: 15px;
}
 #copyright_panel {
     background-color: #100b23;
     text-align: center;
     font-size: 8px;
     margin-top: 30px;
     padding-bottom: 5px;
}
/* --------------Mobile Stuff-------------- */
 @media only screen and (max-width: 1280px) {
     .banner_title {
         width: 500px;
         padding: 0 0 0 60px;
    }
     .banner_image {
         padding: 0 60px 0 0;
    }
     .banner_title p {
         font-size: 14px;
         line-height: 18px;
         padding: 10px 0;
    }
     .banner_title a {
         font-size: 16px;
         letter-spacing: 2px;
         padding: 15px 22px;
         margin: 10px 0 20px 0;
    }
}
 @media only screen and (max-width: 1100px) {
     h2 {
         font-size: 38px;
         line-height: 46px;
    }
     .banner_title {
         width: 500px;
         padding: 0 0 0 60px;
    }
     .banner_image {
         padding: 0 60px 0 0;
    }
     .banner_title a {
         font-size: 14px;
         letter-spacing: 1px;
         padding: 10px 15px;
         margin: 10px 0 30px 0;
    }
}
 @media only screen and (max-width: 1014px) {
     h2 {
         font-size: 36px;
         line-height: 42px;
    }
     nav ul li a {
         font-size: 12px;
    }
     .banner_title p {
         font-size: 13px;
         line-height: 16px;
    }
     .service_col a {
         font-size: 16px;
         letter-spacing: 1px;
    }
     .service_col p {
         font-size: 13px;
         line-height: 16px;
    }
     #portfolio_menu a {
         margin-top: 30px;
         padding: 0 30px;
    }
     #payments img {
         margin: 20px 40px;
    }
     .footer_social img {
         width: 25px;
         margin: 12px;
    }
}
 @media only screen and (max-width: 850px) {
     h1 {
         width: 180px;
         height: 45px;
         margin: 15px 0;
    }
     header {
         margin-top: 5px;
         padding: 0 30px;
    }
     h2 {
         font-size: 30px;
         line-height: 34px;
    }
     .desktop_menu {
         display: none;
    }
     .mobile_menu {
         display: block;
    }
     nav ul li {
         float: right;
    }
     nav ul li a {
         font-size: 16px;
    }
     .flex_container_home > div {
         max-width: 49%;
    }
     #home_portfolio img {
         width: 100%;
    }
     #home_custom img {
         width: 100%;
    }
     #portfolio_menu {
         margin-top: 72px;
    }
}
 @media only screen and (max-width: 800px) {
     body {
         font-size: 14px;
    }
     h2 {
         margin: 30px 0 10px 0;
         font-size: 30px;
         line-height: 34px;
    }
     h3 {
         font-size: 20px;
    }
     #header_container {
         display: block;
         background: url("../images/stars.svg");
         background-size: 180%;
         background-repeat: no-repeat;
         background-position: top center;
    }
     #banner_container {
         display: none;
    }
     #banner_container_mobile {
         position: relative;
         display: flex;
         flex-direction: column;
         padding: 82px 0 0 0;
         margin: 0 auto;
         justify-content: space-around;
         align-items: center;
    }
     .banner_title {
         width: 100%;
         padding: 0 20px;
         text-align: center;
    }
     .banner_title hr {
         background-color: #37a2db;
         border: none;
         height: 4px;
         width: 50%;
         border-radius: 2px;
         margin: 10px auto;
         margin-bottom: 10px;
         text-align: center;
    }
     .banner_image {
         width: 100%;
         text-align: center;
         padding: 0 10px;
    }
     .banner_image p {
         font-family: "Open Sans", "sans serif";
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;
         padding: 10px;
    }
     .banner_image a {
         display: inline-block;
         background-color: #37a2db;
         color: #ffffff;
         text-transform: uppercase;
         font-family: "Montserrat", "sans serif";
         font-weight: 600 !important;
         font-size: 18px;
         letter-spacing: 2px;
         border-radius: 25px;
         padding: 15px 25px;
         margin: 10px;
         -webkit-filter: drop-shadow(5px 5px 5px #130f23);
         filter: drop-shadow(5px 5px 5px #130f23);
    }
     .banner_image hr {
         background-color: #37a2db;
         border: none;
         height: 4px;
         width: 50%;
         border-radius: 2px;
         margin: 10px auto;
         text-align: center;
    }
     .flex_container_home {
         max-width: 100%;
         margin: 0 auto;
         text-align: center;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
    }
     .flex_container_home > div {
         max-width: 100%;
    }
     .flex_container {
         max-width: 1280px;
         margin: 0 auto;
         text-align: center;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
    }
     .service_col img {
         height: 80px;
         width: 80px;
    }
     #home_intro hr {
         margin: 25px auto;
    }
     #home_portfolio hr {
         margin: 25px auto;
    }
     #home_portfolio p {
         margin-bottom: 20px;
    }
     #home_portfolio img {
         width: 340px;
    }
     #home_custom {
         display: none;
    }
     #home_custom_mobile img {
         width: 340px;
    }
     #home_custom_mobile {
         display: block;
         background-color: #ffffff;
         padding: 30px 20px;
    }
     #home_custom_mobile hr {
         background-color: #37a2db;
         border: none;
         height: 4px;
         width: 40%;
         border-radius: 2px;
         margin: 25px auto;
    }
     #home_custom_mobile p {
         margin-bottom: 20px;
    }
     #portfolio img {
          height: 200px;
          padding: 15px;
     }
     .commission_info {
         text-align: left;
         display: flex;
         flex-direction: column;
    }
     .commission_info img {
         padding: 20px 0 0 0;
    }
     #payments img {
         margin: 20px 40px;
    }
     .footer_logo_container {
         text-align: center;
    }
     #footer_menu p {
         font-size: 13px;
         line-height: 18px;
    }
     #footer_menu {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
         grid-gap: 40px;
    }
     #payments img {
         margin: 30px 50px;
    }
}
 @media only screen and (max-width: 600px) {
     h1 {
         width: 160px;
         height: 40px;
         margin: 15px 0;
    }
     h2 {
         margin: 10px 0 5px 0;
         font-size: 20px;
         line-height: 25px;
    }
     header {
         margin-top: 5px;
         padding: 0 25px;
    }
     #menuToggle span {
         width: 27px;
         height: 3px;
         margin-bottom: 4px;
    }
     #menu {
         padding-bottom: 10px;
    }
     #menu li {
         padding: 10px 0;
         padding-right: 20px;
    }
     #menu a {
         font-size: 14px;
         padding: 10px;
    }
     #header_container {
         background-size: 200%;
    }
     .banner_image a {
         font-size: 16px;
         letter-spacing: 1px;
    }
     #home_services {
         text-align: center;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
         grid-row-gap: 20px;
         margin: auto;
    }
     .service_col {
         width: 100%;
    }
     #portfolio_menu {
         margin-top: 68px;
    }
     #portfolio img {
          height: 200px;
          padding: 10px;
     }
     #payments img {
         width: 125px;
         margin: 15px 30px;
    }
     .footer_logo_container {
         text-align: center;
    }
     footer img {
         width: 120px;
    }
     #footer_menu {
         text-align: center;
         display: flex;
         flex-direction: column;
    }
     .footer_col {
         padding: 0 0 30px 0;
    }
     .footer_social img {
         width: 25px;
         margin: 0 15px;
    }
     #copyright_panel {
         padding-bottom: 15px;
    }
}
 @media only screen and (max-width: 412px) {
     #header_container {
         background-size: 200%;
    }
     .banner_image a {
         font-size: 14px;
         letter-spacing: 1px;
         padding: 10px 20px;
    }
     #home_services {
         text-align: center;
         display: grid;
         grid-row-gap: 20px;
         margin: auto;
    }
     .service_col {
         width: 100%;
    }
     .service_col a {
         margin: 5px 0;
         padding: 10px 20px;
    }
     #home_portfolio img {
         width: 100%;
    }
     #home_custom_mobile img {
         width: 100%;
    }
     .commission_info img {
         width: 300px;
    }
     #payments img {
         width: 100px;
         margin: 15px 30px;
    }
}
 @media only screen and (max-width: 360px) {
     h1 {
         width: 132px;
         height: 33px;
    }
     header {
         margin-top: 0;
         padding: 0 15px;
    }
     h2 {
         margin-top: 0px;
         font-size: 18px;
    }
     h3 {
         font-size: 18px;
    }
     #menu li {
         padding: 10px 0;
         padding-right: 30px;
    }
     #menuToggle span {
         width: 21px;
         height: 2px;
         margin-bottom: 3px;
    }
     .banner_title p {
         font-size: 40px;
         line-height: 48px;
    }
     #portfolio_menu {
         margin-top: 62px;
    }
     .commission_info img {
         width: 250px;
    }
     #footer_menu {
         text-align: center;
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: 22% 25% 15% 40%;
         grid-row-gap: 20px;
    }
     .footer_social img {
         margin: 0 15px 15px 15px;
    }
     #copyright_panel {
         padding-bottom: 30px;
    }
}